---
import DashboardBeswan from "@/layout/dashboard-beswan.astro";
import { Card, CardHeader, CardTitle, CardContent, CardDescription } from "@/components/ui/card";
import { Table, TableHead, TableRow, TableHeader, TableBody, TableCell } from "@/components/ui/table";
---

<DashboardBeswan>
  <div class="container mx-auto py-6">
    <h1 class="text-2xl font-bold tracking-tight mb-6">Riwayat Donasi</h1>

    <Card>
      <CardHeader>
        <CardTitle>Daftar Donasi Masuk</CardTitle>
        <CardDescription>Berikut adalah daftar donasi yang telah diterima.</CardDescription>
      </CardHeader>
      <CardContent>
        <Table>
          <TableHead>
            <TableRow>
              <TableHeader>Nama Donatur</TableHeader>
              <TableHeader>Email</TableHeader>
              <TableHeader>Jumlah Donasi</TableHeader>
              <TableHeader>Tanggal</TableHeader>
              <TableHeader>Metode Pembayaran</TableHeader>
            </TableRow>
          </TableHead>
          <TableBody>
            <TableRow>
              <TableCell>Siti Aminah</TableCell>
              <TableCell>sitiaminah@gmail.com</TableCell>
              <TableCell>Rp 1.000.000</TableCell>
              <TableCell>03 Mei 2025</TableCell>
              <TableCell>Transfer Bank</TableCell>
            </TableRow>
            <TableRow>
              <TableCell>Anonim</TableCell>
              <TableCell>-</TableCell>
              <TableCell>Rp 500.000</TableCell>
              <TableCell>02 Mei 2025</TableCell>
              <TableCell>QRIS</TableCell>
            </TableRow>
            <TableRow>
              <TableCell>Fajar Nugroho</TableCell>
              <TableCell>fajarn@gmail.com</TableCell>
              <TableCell>Rp 250.000</TableCell>
              <TableCell>01 Mei 2025</TableCell>
              <TableCell>OVO</TableCell>
            </TableRow>
          </TableBody>
        </Table>
      </CardContent>
    </Card>
  </div>
</DashboardBeswan>
