---
import "../styles/global.css";

import BeswanDashboard from "./page";
---
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bersekolah - Dashboard Pendaftaran</title>
    <link rel="icon" href="/storage/logo-bersekolah-08.png" type="image/x-icon">
  </head>
  <body>
    <BeswanDashboard client:load>
      <slot />
    </BeswanDashboard>
  </body>
</html>
